<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="RentalContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=RentalContext;Integrated Security=TRUE;Database=Rental;MultipleActiveResultSets=True;AttachDBFilename=|DataDirectory|\Rental.mdf"  providerName="System.Data.SqlClient"/>-->
    <add name="RentalContext" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\rental.mdf;Initial Catalog=Renta;Integrated Security=True"/>
  </connectionStrings>
</configuration>